.container {
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}
.calculator {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    padding: 10px;
    border: 2px #333 solid;
    border-radius: 10px;
}
.buttons-container {
    display:flex;
    flex-direction: column;
    gap: 4px;
}
.buttons-row {
    display:flex;
    gap: 4px;
    justify-content: center;
}
.output{
    font-size: 48px;
    background-color:#333;
    padding: 4px;
    margin-bottom: 4px;;
    color: #FFF;
    border-radius: 8px;
    display:flex;
    gap: 4px;
    justify-content: end;
    text-align:right;
}
.button{
    flex:1;
    font-size: 20px;
    padding: 28px;
    text-align: center;
    background-color: #FFDDDD;
    border-radius: 8px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.number{
    background-color: lightpink;
}